/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// import
@import "html/generales";
@import "html/home";
@import "html/footer";
@import "html/banner";
@import "html/productos";
@import "html/ofertas";
@import "html/nosotros";
@import "html/contacto";
@import "html/remeras";
@import "html/tablet";
@import "html/desktop";