// variables
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* mq desktop */
@media screen and (min-width: 1024px){

    #menu{
        display: none;
    }

    /* Banner Principal */    
    .bannerPrincipal{
        h1{
        font-size: $medida-standard*5;
        }
    }
    
    /*Baner secundario estilo */
    .bannerSecundario{
        height: 250px;
    }

    .bannerSecundarioTitulo{
        h1{
        font-size: $medida-standard*5;
        }
    }
    /*nuevos lanzamientos estilos */
    .ofertas p{
        display: block;
        font-size: $font-desktop;
    }

    .nuevosLanzamientos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 33%);
        gap: $medida-standard;
        margin-bottom: $medida-standard*2;
    }

    .ofertas{
        margin-bottom: $medida-standard*3;
        a{
            img{
                width: 100%;
                height: 100%; 
            }
        }
    }

    .lanzamientoUno{
        grid-row: span 3;
    }

    .lanzamientoDos, .lanzamientoTres, .lanzamientoCuatro {
        grid-column: span 2;
        grid-row: span 1;
    }

    /*Destacados de la semana */
    .productoCinco{
        display: block;
    }

    .destacadosSemana{
        height: 50vh;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    } 

    /* seccion ofertas */
    .ofertasOfertas{
        height: 75vh;
    } 

    /* estilos remeras page */

    .remeraYDescripcion{
        grid-template-columns: 40% 60%;
        grid-template-rows: 20% 80%;
        margin-bottom: $medida-standard*2;
    }

    .remeraBG{
        grid-column: span 1;
        img{
            width: 100%;
            height: 100%;  
        }
    }

    .remeraYDescripcion{
        h1{
        grid-column: span 2;
        font-size: $medida-standard*4;
        }
    }

    .descripcionDeLaRemera{
        grid-column: span 1;
    }

    /* footer */
    .resumen{
        width: 600px;
    }

    .whatsapp{
        display: block;
        position: sticky;
        bottom: 10%;
        left: 85%;
    }
    
    .whatsappPhone{
        display: none;

    }
}
